<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0"
        id="MarioPong">
	<name>MarioPong</name>
	<content src="local:///index.html" />
	<author email = "bryanli2011@gmail.com">Boyang Li</author>
	<description>A simple game used HTML5 and CSS3.</description>
	<access uri="*" subdomains="true" />
</widget>